---
layout: base.njk
title: Home
header_main: true
---
<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header">
	<div class="slider-inner">
		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">

				<div class="dark" style="margin: auto; width: 50%">
					<div class="container">
						<div class="slider-caption slider-caption-center">

							<div class="widget clearfix">
								<img src="/assets/coders_cafe_logo_named_separated.png" alt="Image" class="">
							</div>
							<h3 data-animate="fadeInUp">Welcome to</h3>
							<h2 data-animate="fadeInUp">Coder's Cafe</h2>
							<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">To foster passion in Computer Science!</p>

						</div>
					</div>
					<div class="swiper-slide-bg" style="background-image: url('/assets/hmpg_bkgd_solid.png');"></div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">

		<div class="container clearfix">
			<h1>Who are we?</h1> <h3>We are Coder's Cafe Organization aiming to help <span>all kids</span>&mdash;including special needs and underrepresented groups&mdash;to learn computer science with us!</h3>
		</div>

		<div class="section">
			<div class="container">

				<h1>Our Goals</h1>
				<div class="row col-mb-50">
					<div class="col-md-4">
						<div class="feature-box media-box">
							<div class="fbox-media">
								<img src="/assets/goal0_inclusion.jfif" alt="Goal #1: Inclusion">
							</div>
							<div class="fbox-content px-0">
								<h3>Inclusion<span class="subtitle">To support interested kids and students like you</span></h3>
								<p>We welcome any kids and students who are interested and passionate about computer science to come join with us! People like you are needed more than ever to develop applications to support the changing industry of the dawn of 21st century!</p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="feature-box media-box flex-column">
							<div class="fbox-media">
								<img src="/assets/goal1_inspire.jfif" alt="Goal #2: Inspire">
							</div>
							<div class="fbox-content px-0">
								<h3>Inspire<span class="subtitle">To foster and grow the interest in computer science</span></h3>
								<p>We guide them to learn and colloborate on variety of different, interesting topics and projects. Show them the many cool and creative projects the world has created. And, motivate them to continue their own, epic journey to see what computer science has to show!</p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="feature-box media-box flex-column">
							<div class="fbox-media">
								<img src="/assets/goal2_inspect.jfif" alt="Goal #3: Inspect">
							</div>
							<div class="fbox-content px-0">
								<h3>Inspect<span class="subtitle">To expose niche fields in computer science</span></h3>
								<p>Computer science is not just a field of programming, artificial intelligence (AI), data science, or whatever the media is hyping these days. This field has many niche topics that are useful to the world in their own ways!</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="container clearfix">
			<h1>Operations</h1>
			<p>We are currently and only focusing on two operations that best serve the community.</p>

			<div class="row align-items-center col-mb-50">
				<div class="col-md-5">
					<!-- <canvas id="chart-doughnut"></canvas> -->
					<!-- <div class="fbox-media"> -->
						<img src="/assets/base_square_1000.png" alt="Programs for Neurodivergent Kids">
					<!-- </div> -->
				</div>

				<div class="col-md-7 text-center text-md-start">
					<div class="heading-block border-bottom-0">
						<h4>Programs for Neurodivergent Kids</h4>
						<span>To learn new programming concepts through variety of creative <b>lessons</b> and projects topic by topic.</span>
					</div>

					<p>
						Each programs consists of individual classes, teaching neurodivergent
						students programming and preparing them the 21st century of the growing
						technology sector. We, in partnership with Code the Spectrum, build
						teacher-student connections and flexible curriculums for the neurodivergent students.
					</p>

					<!-- <p>More info...</p> -->

					<!-- <a href="#" class="btn btn-outline-secondary">Learn more &rarr;</a> -->
				</div>
			</div>

			<div class="line"></div>

			<div class="row align-items-center col-mb-50">
				<div class="col-md-7 text-center text-md-start">
					<div class="heading-block border-bottom-0">
						<h4>Tutoring Session</h4>
						<span>A more flexible approach for all kinds of students--such as underrepresented groups of students--to learn computer science.</span>
					</div>

					<p>Will be announced next year!</p>

					<!-- <p>More info...</p> -->

					<!-- <a href="#" class="btn btn-outline-secondary">Learn more &rarr;</a> -->
				</div>

				<div class="col-md-5">
					<!-- <canvas id="chart-radar"></canvas> -->
					<img src="/assets/base_square_1000.png" alt="Tutoring Session">
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">

				<div class="heading-block center">
					<h3><span>Current</span> Activities</h3>
					<span>A look into some of our more recent milestones and activities.</span>
				</div>

				<div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="1" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-xl="4">

					{# _data/currentActivities.json #}
					{% for activity in currentActivities %}

					<div class="portfolio-item">
						<div class="portfolio-image">
							<img src="{{ activity.photo | safe }}" alt="{{ activity.title | safe }}">
						</div>
						<div class="portfolio-desc">
							<h3>{{ activity.title | safe }}</h3>
							<p>{{ activity.date | safe }}</p>
							<span>{{ activity.blurb | safe }}</span>
						</div>
					</div>

					{% endfor %}

					{# <div class="portfolio-item">
						<div class="portfolio-image">
							<a href="#">
								<img src="/assets/current_activities/_base0.png" alt="Image">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
									<a href="#" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="#">Organization Founding!</a></h3>
							<p>7/3/2021</p>
							<span>This organization was founded on July 3, 2020!</span>
						</div>
					</div> #}

				</div>

			</div>
		</div>

		<div class="container clearfix">
			<h1>Partnering Organization</h1>
			<div class="row">
				<div class="col-6 center">
					<a href="https://codethespectrum.org/" target="_blank" rel="noopener noreferrer">
						<img src="/assets/partnering_organization/code_the_spectrum.png" alt="Code the Spectrum!">
					</a>
				</div>
				<div class="col-6 center">
					<p></p>
				</div>
			</div>
		</div>

		<a href="/register.html" class="button button-full center text-end topmargin-lg footer-stick">
			<div class="container clearfix">
				Interested to be a member? <strong>Apply here</strong> <i class="icon-caret-right" style="top:4px;"></i>
			</div>
		</a>

	</div>
</section><!-- #content end -->
