---
layout: subpage.njk
title: Get Involved
---
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="col-md-8">

				<p>
					<ul>
						<li>Are you looking to impassion neurodivergent kids and underrepresented kids?</li>
						<li>Are you passionate in programming or computer science, and want to share your knowledge to kids in-need in our community?</li>
						<li>Are you a leader who want provide the community higher quality education?</li>
						<li>And, are you also a high school / middle school student interested in what we do?</li>
					</ul>

					If you are any of them, or feel you are devoted to our mission, you can help/lead/teach kids in our community by signing-up at our form below.
					We grant volunteer hours and recruit volunteers for officer roles. <br> <br>

					(13 years of age or older are required to partake our operations.) <br>
				</p>

				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSee5sarb5_fudPARXODlxnNvJW5jX8PzBobHEBQLpIk1Fqaiw/viewform?embedded=true" width="640" height="2500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

			</div>
		</div>
	</div>
</section><!-- #content end -->
